* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    background-color: black;
}

.container_main_spendcontrol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    margin-top: 35px;
}

.links {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.link_usuario, .link_admin {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 20px;
}

.link_usuario:hover {
    background-color: #333;
    transition: 0.3s;
}

.link_admin:hover {
    background-color: #333;
    transition: 0.3s;
}

#descricao_spendcontrol {
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
}

.logo_spendcontrol {
    border-radius: 50%;
}
