* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    background-color: black;
}

.container_main_spendcontrol {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    margin-top: 35px;
}

.links {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.link_usuario, .link_admin {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 20px;
}

.link_usuario:hover {
    background-color: rgb(77, 77, 77);;
    transition: 0.2s;
}

.link_admin:hover {
    background-color: rgb(77, 77, 77);
    transition: 0.2s;
}

#descricao_spendcontrol {
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
}

.logo_spendcontrol {
    border-radius: 50%;
}

.section_link_location {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.link_location {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 214, 214);
    padding: 10px 15px;
    border-radius: 10px;
}

.link_location:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
}


