* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #000000;
    display: flex;
    flex-direction: column;
}   

.container_header > header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 350px;
}

.container_formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    margin: auto;
    background-color: white;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
}

.registrar {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.registrar:hover {
    background-color: rgb(204, 204, 204);
    transition: 0.2s;
    color: black;
    border: 1px solid black;
}

.salvar {
    padding: 10px;
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.salvar:hover {
    background-color: rgb(116, 249, 49);
    transition: 0.2s;
    color: black;
}

#empresa {
    background-color: #d5d5d5;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

#valor {
    background-color: #d5d5d5;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.label_form {
    margin-bottom: 10px;
    color: black;
}